
.mainPage
{
background-color: #d4dedd;
background-image : linear-gradient(to top right, #a9c3b6, #cedfdf, #b7d1d3, #a6c3ce, #8fb8ca);
color: #001833;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.mainLayout
{
    display: flex;
    flex-direction : row;
    flex-wrap : nowrap;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.leftLayout
{
    display: flex;
    flex-direction : column;
    width: 30%;
    flex-wrap : wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 2%;
}

.rightLayout
{
    display: flex;
    flex-direction : column;
    width: 60%;
    flex-wrap : wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 6%;
    padding-left: 2%;
}

/*Business card part*/
.businessCardPart
{
    padding-top: 0%;
    padding-bottom: -5%;
}
.skillsBusinessCard
{
    font-weight: lighter;
    padding-left: 3%;
}
/*Navigation bar part*/
.menuPart
{
    padding-top: 2%;
    padding-bottom: 0%;
}
.menuBar
{
    list-style:none;
}
.buttonNavigation, .choosedNovigation
{
    text-decoration: none;
    color: #001833;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bolder;
    font-size:normal;
}
.buttonNavigation:hover, .choosedNovigation
{
    font-size:large;
    text-decoration: underline;
}
.choosedNovigation
{
    margin-left: 5%;
}
.disabled
{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #c0c0c0;
}
.logos
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.eachLogo
{
    padding:2%;
    width:50px; 
    height:auto;
}
.listTicks
{
    list-style: none;
}
.listTicks li:before
{
    content: '✓';
    font-weight: bolder;
    color:#2929a3;
    padding:3%;
}
.detailsEducation
{
    font-weight: bolder;
}
@media only screen and (max-width: 700px) 
{
    .mainLayout
{
    display: flex;
    flex-direction : column;
    flex-wrap : wrap;
    align-items:flex-start;
    padding:0%;
    padding-left:3%;
    padding-right:3%;
    width: 94%;
}

.leftLayout, .rightLayout
{
    display: flex;
    flex-direction : column;
    width:-webkit-fill-available;
    flex-wrap : wrap;
    padding: 0%;
    align-items:stretch;
}
.menuBar, .navigationLink
{
    display:-webkit-flex;
}
.menuPart, .menuBar
{
    margin:0%;
    padding:0%;
    align-self:flex-start;
    display:-webkit-flex;
}
.businessCardPart, .skillsBusinessCard
{
    margin:0%;
    padding:0%;
}
.navigationLink
{
    padding: 2%;
}
}
.educationImg
{
    border: 2px dotted #001833;
    border-radius: 0%;
    box-shadow: 10px 10px 50px 40px #c0c0c0;
    width: 70%;
    height: auto;

}