.mainPage
{
background-color: #d4dedd;
background-image : linear-gradient(to top right, #a9c3b6, #cedfdf, #b7d1d3, #a6c3ce, #8fb8ca);
color: #001833;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}